*{
    margin: 0;
    padding: 0;
}

body{
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: #F4E6D2;
}

.title{
    background-image: url(./Asset/Location/banner-location.png);
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    text-align: right;
    font-size: 62px;
    font-weight: 400;
    letter-spacing: 0.1em;
    padding-right: 40px;
    padding-top: 15%;
    color: #FFFFFF;
}

.content{
    height: 1000px;
}

.wrapper{
    display: flex;
    flex-direction: row;
}

.loc-image{
    margin-top:45px;
    margin-left:100px;
    background-repeat: no-repeat;
    width: 85vh;
    height: 50vh;
    margin-bottom:100px;
    background: url(./Asset/Location/offlinestore-location.png);
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
}

.text-content{
    margin-top:48px;
    margin-left: 45px;
    letter-spacing: 0.005em;
    padding-top : 0px;
    padding-bottom : 0px;
    font-size: 25px;
}


a{
    text-decoration: underline;
    color: #000000;
    transition: 0.4s
}

@media screen and (max-width: 768px){

    .wrapper{
        display: flex;
        flex-direction: column;
    }

    .content{
        margin-top: 0px;
        height: 1150px;
    }

    .title{
        font-size: 36px;
        text-align: center;
        padding-top: 35%;
    }

    .text{
        font-size: 16px;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .loc-image{
        align-items: center;
        background-position: center;
        background: url(./Asset/Location/offlinestore-location.png);
        min-width: 90vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .text-content{
        margin-top:10px;
        margin-left:0px;
        padding-top: 5px;
        font-size: 16px;
        text-align:center;
    }

}
